* {
  /* border: 3px solid red;
  box-sizing: border-box; */
  /* border-radius: 4px; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.framework {
  position: relative;
  margin: 60px;
  width: 520px;
  height: 500px;
  display: flex;

  justify-content: center;
  /* background-image: url('./assets/Outer-Framwork.svg');
  background-size: cover; */
}

#outer-frame, .compass {
  position: absolute;
  width: 100%; /* double the width */
  height: 100%; /* double the height */
  top: 0;
  left: 0;
  border-radius: 8%;
}

.compass {
  /* uncomment next 3 lines to set border */
  /* display: flex;
  align-items: center;
  justify-content: center; */

  margin: 60px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  
  /* the next 4 lines create the checkerboard test pattern */
  /* background: linear-gradient(45deg, grey 25%, transparent 25%, transparent 75%, grey 75%, grey), 
              linear-gradient(45deg, grey 25%, transparent 25%, transparent 75%, grey 75%, grey);
  background-size: 200px 200px;
  background-position: 0 0, 100px 100px;
  background-color: yellow; */
  
  /* uncomment the next two lines to see the compass */
  background-image: url('./assets/compass-sketch2.svg');
  background-size: cover;
}

.hsi{
  position: absolute;
  background-color: rgba(0, 128, 0, 0);
  
  /* uncomment next 3 lines to set border */
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */

  /* next line only needed for testing */
  color: white;

  width: 30%;
  height: 100%;
  left: 35%;
  /* set HSI */
  transform: rotate(30deg);
}

.course {
  position: absolute;
  background: linear-gradient(to bottom, blue 25%, transparent 25%, transparent 75%, blue 75%);
  /* uncomment next 3 lines to set border */
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */
  
  width: 5%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cdi {
  position: absolute;
  background-color: blue;
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */
  
  width: 5%;
  height: 48%;
  top: 50%;
  /* the next line controls the CDI deflection from full left(0%) to full righ(100%) */
  left: 25%;
  transform: translate(-50%, -50%);
}

.bug {
  position: absolute;
  background: linear-gradient(to bottom, transparent 1%, purple 1%, purple 5%, transparent 5%, transparent 100%);

  /* uncomment next 3 lines to set border */
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */

  /* next line only needed for testing */
  color: white;

  width: 8%;
  height: 100%;
  left: 46%;

  /* background-image: url('./assets/bug.svg');
  background-size: cover; */
}
